@let user = user$ | async;
@let role = (userRole$ | async)?.role || 'none';
@let currentTable = table$ | async;
@let tables = (tables$ | async) || [];
@let cardsRevealed = !!currentTable?.cardsRevealed;
@let owner = owner$ | async;
@let cards = cards$ | async;
@let players = (players$ | async) || [];
@let spectators = (spectators$ | async) || [];
@let tasks = (tasks$ | async) || [];
@let selectedTask = selectedTask$ | async;
@let taskEstimationTotal = (taskEstimationTotal$ | async) || 0;
@let votes = (votes$ | async) || [];
@let currentVote = vote$ | async;
@let votesEstimationTotal = votesEstimationTotal$ | async;
@let votesEstimationAverage = votesEstimationAverage$ | async;
@let voteValueQuantities = voteValueQuantities$ | async;
@let countdown = countdown$ | async;
@let countdownStarted = countdownStarted$ | async;
@let minutes = minutes$ | async;
@let isOwner = owner && user && owner.id === user.id;
@let isSpectator = role === 'spectator';
@let isPlayer = role === 'player';

@let votesRemaining = players.length - votes.length;

@let hasPlayers = !!players.length;
@let allPlayersVoted = hasPlayers && players.length === votes.length;
@let awaitingOneVote = votesRemaining === 1;

<nz-layout>
  <!-- page header -->
  <nz-header nzTheme="light" nz-flex nzJustify="space-between" nzAlign="center">
    <h2 nz-typography class="!m-0">
      <span nz-icon nzType="fast-forward" nzTheme="outline"></span>
      Scrum Poker
    </h2>
    <span nz-typography>
      Feito com ❤️ por
      <a
        nz-popover
        [nzPopoverContent]="madeWithLovePopover"
        nzPopoverPlacement="bottom"
        [href]="env.githubProfileUrl"
      >
        <ng-template #madeWithLovePopover>
          <nz-page-header class="p-0">
            <nz-avatar
              nz-page-header-avatar
              [nzSrc]="env.profilePictureUrl"
            ></nz-avatar>
            <nz-page-header-title>Douglas Andrade</nz-page-header-title>
            <nz-page-header-extra>
              <nz-tag nzColor="green" class="m-0">Open Source</nz-tag>
            </nz-page-header-extra>
          </nz-page-header>

          <div nz-flex nzVertical nzGap="small">
            <!-- meu dados -->
            <div>
              <strong>Engenheiro de software</strong>
              @for (contact of env.contacts; track $index) {
                <div>
                  <strong>{{ contact.title }}:</strong>
                  <span nz-typography nzCopyable [nzCopyText]="contact.value">
                    {{ contact.value }}
                  </span>
                </div>
              }
            </div>

            <!-- links -->
            <nz-space nzSize="large">
              <a
                *nzSpaceItem
                nz-button
                nzType="link"
                [href]="env.linkedInProfileUrl"
                target="_blank"
                class="!p-0"
              >
                <span nz-icon nzType="linkedin" nzTheme="outline"></span>
                LinkedIn
              </a>
              <a
                *nzSpaceItem
                nz-button
                nzType="link"
                [href]="env.whatsappUrl"
                target="_blank"
                class="!p-0"
              >
                <span nz-icon nzType="whats-app" nzTheme="outline"></span>
                WhatsApp
              </a>
              <a
                *nzSpaceItem
                nz-button
                nzType="link"
                [href]="env.githubProfileUrl"
                target="_blank"
                class="!p-0"
              >
                <span nz-icon nzType="github" nzTheme="outline"></span>
                GitHub
              </a>
              <a
                *nzSpaceItem
                nz-button
                nzType="link"
                [href]="env.repositoryUrl"
                target="_blank"
                class="!p-0"
              >
                <span nz-icon nzType="code" nzTheme="outline"></span>
                Repository
              </a>
            </nz-space>
          </div>
        </ng-template>

        <u>
          <strong>{{ env.githubUsername }}</strong>
        </u>
      </a>
    </span>
    <div nz-flex nzAlign="center" nzGap="small">
      <nz-avatar [nzText]="user?.name?.charAt(0)"></nz-avatar>
      <span
        nz-typography
        nzEditable
        nzEditTooltip="alterar nome"
        [nzContent]="user?.name"
        (nzContentChange)="handleUsernameChange($event)"
      ></span>
    </div>
  </nz-header>

  <nz-divider class="m-0"></nz-divider>

  <!-- page content header -->
  <nz-page-header>
    <nz-page-header-title>
      <span
        nz-typography
        [nzEditable]="isOwner"
        [nzEditIcon]="editableIcon"
        nzEditTooltip="alterar nome"
        (nzContentChange)="handleTableNameChange($event)"
        [nzContent]="currentTable?.name"
      >
        <ng-template #editableIcon>
          <span
            nz-icon
            nzType="edit"
            nzTheme="outline"
            class="text-base"
          ></span>
        </ng-template>
      </span>
    </nz-page-header-title>
    <nz-page-header-subtitle>
      criado por
      <strong>
        @if (isOwner) {
          você
        }

        @if (!isOwner) {
          {{ owner?.name }}
        }
      </strong>
    </nz-page-header-subtitle>

    <nz-page-header-extra>
      <nz-space nzSize="middle" nzAlign="center">
        @if (countdown) {
          <countdown
            ngV
            *nzSpaceItem
            [config]="countdown"
            (event)="handleCountdownEvent($event)"
          />
        }

        @if (isOwner) {
          <button
            *nzSpaceItem
            nz-button
            nzType="link"
            nz-dropdown
            nzTrigger="click"
            [nzDropdownMenu]="countdownStartMenu"
            [disabled]="countdownStarted"
          >
            <span nz-icon nzType="play-circle" nzTheme="outline"></span>
            Iniciar
            <span nz-icon nzType="down"></span>
          </button>
          <nz-dropdown-menu #countdownStartMenu>
            <ul nz-menu>
              @for (minute of minutes; track minute.id) {
                <li
                  tabindex="1"
                  nz-menu-item
                  (click)="handleStartCountdown(minute.value)"
                  (keyup)="handleStartCountdown(minute.value)"
                >
                  <a>
                    @if (minute.value === 1) {
                      {{ minute.value }} minuto
                    }

                    @if (minute.value > 1) {
                      {{ minute.value }} minutos
                    }
                  </a>
                </li>
              }
            </ul>
          </nz-dropdown-menu>
          <button
            *nzSpaceItem
            nz-button
            nzType="link"
            class="!p-0"
            (click)="handleAddOneMinute()"
            [disabled]="!countdownStarted"
          >
            <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
            Adicionar 1 minuto
          </button>
          <button
            *nzSpaceItem
            nz-button
            nzType="link"
            class="!p-0"
            (click)="handleRestartCountdown()"
            [disabled]="!countdownStarted"
          >
            <span nz-icon nzType="redo" nzTheme="outline"></span>
            Reiniciar
          </button>
          <button
            *nzSpaceItem
            nz-button
            nzType="text"
            nzDanger
            class="!p-0"
            [disabled]="!countdownStarted"
            (click)="handleStopCountdown()"
          >
            <span nz-icon nzType="close-circle" nzTheme="outline"></span>
            Parar
          </button>
        }
        @if (isOwner) {
          <nz-divider *nzSpaceItem class="!m-0" nzType="vertical"></nz-divider>
          <button
            *nzSpaceItem
            nz-button
            nzType="link"
            nz-dropdown
            nzTrigger="click"
            class="!p-0"
            [nzDropdownMenu]="tablesMenu"
          >
            Trocar de mesa
            <span nz-icon nzType="down"></span>
          </button>
          <nz-dropdown-menu #tablesMenu>
            <ul nz-menu>
              <li
                tabindex="1"
                nz-menu-item
                (click)="handleTableCreate()"
                (keyup)="handleTableCreate()"
              >
                <a>Criar uma mesa</a>
              </li>
              @for (table of tables; track table.id) {
                <li
                  tabindex="1"
                  nz-menu-item
                  (click)="handleTableSwitch(table.id)"
                  (keyup)="handleTableSwitch(table.id)"
                >
                  <a>{{ table?.name }}</a>
                </li>
              }
            </ul>
          </nz-dropdown-menu>
        }
        <nz-divider *nzSpaceItem class="!m-0" nzType="vertical"></nz-divider>
        <span
          *nzSpaceItem
          nz-typography
          nzCopyable
          [nzCopyText]="env.appUrl + env.tablesEndpoint + '/' + currentTable?.id"
        >
          Copiar link da mesa
        </span>
      </nz-space>
    </nz-page-header-extra>
  </nz-page-header>

  <nz-divider class="m-0"></nz-divider>

  <nz-layout>
    <!-- content left side -->
    <nz-sider class="overflow-x-hidden overflow-y-auto">
      <nz-space nzDirection="vertical" class="py-3 pl-3 w-full" nzSize="middle">
        <button
          *nzSpaceItem
          nz-button
          nzType="link"
          class="!p-0"
          (click)="handleUserRoleChange()"
          [nzLoading]="changingUserRole"
          nzBlock
        >
          @if (!changingUserRole) {
            <span nz-icon nzType="swap" nzTheme="outline"></span>
          }

          @if (!changingUserRole && isSpectator) {
            Sentar na mesa
          }

          @if (!changingUserRole && isPlayer) {
            Ficar assistindo
          }
        </button>
        <div *nzSpaceItem>
          <h4>Na mesa ({{ players.length }})</h4>
          <nz-space nzDirection="vertical">
            @for (player of players; track player.id) {
              <nz-space *nzSpaceItem nzAlign="baseline">
                <nz-avatar
                  *nzSpaceItem
                  [nzText]="
                    user?.id === player.id ? 'V' : player.name.charAt(0)
                  "
                />
                <span *nzSpaceItem nz-typography nzEllipsis class="w-32">
                  <span
                    nz-tooltip
                    [nzTooltipTitle]="player.name"
                    nzTooltipPlacement="right"
                  >
                    @if (user?.id === player.id) {
                      Você
                    }

                    @if (user?.id !== player.id) {
                      {{ player.name }}
                    }
                  </span>
                </span>
              </nz-space>
            }
          </nz-space>
        </div>

        <div *nzSpaceItem>
          <h4>Assistindo ({{ spectators.length }})</h4>
          <nz-space nzDirection="vertical">
            @for (spectator of spectators; track spectator.id) {
              <nz-space *nzSpaceItem nzAlign="baseline">
                <nz-avatar
                  *nzSpaceItem
                  [nzText]="
                    user?.id === spectator.id ? 'V' : spectator.name.charAt(0)
                  "
                />
                <span *nzSpaceItem nz-typography nzEllipsis class="w-32">
                  <span
                    nz-tooltip
                    [nzTooltipTitle]="spectator.name"
                    nzTooltipPlacement="right"
                  >
                    @if (user?.id === spectator.id) {
                      Você
                    }

                    @if (user?.id !== spectator.id) {
                      {{ spectator.name }}
                    }
                  </span>
                </span>
              </nz-space>
            }
          </nz-space>
        </div>
      </nz-space>
    </nz-sider>

    <nz-divider nzType="vertical" class="h-full m-0"></nz-divider>

    <!-- content center -->
    <nz-content>
      <div class="h-full" nz-flex nzJustify="center" nzAlign="center">
        <nz-card>
          <nz-space nzDirection="vertical" nzAlign="center">
            @if (!cardsRevealed) {
              <nz-space
                *nzSpaceItem
                nzDirection="vertical"
                nzAlign="center"
                nzSize="middle"
              >
                <nz-space
                  *nzSpaceItem
                  nzDirection="vertical"
                  nzAlign="center"
                  [nzSize]="0"
                >
                  <h2 *nzSpaceItem nz-typography class="!m-0">
                    @if (!hasPlayers) {
                      Aguardando sentarem na mesa
                    }

                    @if (allPlayersVoted) {
                      Estamos curiosos 👀
                    }

                    @if (isSpectator && hasPlayers && !allPlayersVoted) {
                      Aguardando votação
                    }

                    @if (isPlayer && hasPlayers && !allPlayersVoted) {
                      Escolha sua carta!
                    }
                  </h2>
                  <h5
                    *nzSpaceItem
                    nz-typography
                    class="!m-0"
                    nzType="secondary"
                  >
                    @if (hasPlayers && !allPlayersVoted && awaitingOneVote) {
                      Resta
                      {{ votesRemaining }}
                      voto
                    }

                    @if (hasPlayers && !allPlayersVoted && !awaitingOneVote) {
                      Restam
                      {{ votesRemaining }}
                      votos
                    }

                    @if (allPlayersVoted) {
                      Aguardando revelação dos votos
                    }
                  </h5>
                </nz-space>

                @if (allPlayersVoted) {
                  <button
                    *nzSpaceItem
                    nz-button
                    nzSize="large"
                    nzType="primary"
                    [disabled]="votes.length !== players.length"
                    [nzLoading]="votes.length !== players.length"
                    (click)="handleRevealCards()"
                  >
                    Revelar cartas
                  </button>
                }
              </nz-space>
            }

            @if (cardsRevealed) {
              <nz-space
                *nzSpaceItem
                nzDirection="vertical"
                nzAlign="center"
                nzSize="middle"
              >
                <nz-space
                  *nzSpaceItem
                  nzDirection="vertical"
                  nzAlign="center"
                  nzSize="small"
                >
                  <h2 *nzSpaceItem nz-typography class="!m-0">Resultado</h2>
                  <nz-space *nzSpaceItem nzSize="small">
                    @for (vote of votes; track vote.id) {
                      <nz-space
                        *nzSpaceItem
                        nzDirection="vertical"
                        nzAlign="center"
                        [nzSize]="0"
                      >
                        <span
                          *nzSpaceItem
                          nz-typography
                          nzEllipsis
                          nz-tooltip
                          class="w-20 text-center"
                          nz-tooltip
                          [nzTooltipTitle]="vote.user.name"
                        >
                          {{ vote.user.name }}
                        </span>
                        <button
                          *nzSpaceItem
                          nz-button
                          class="overflow-hidden !p-0 !w-10 !h-16 !cursor-default"
                          nzSize="large"
                          nzType="primary"
                        >
                          {{ vote.value }}
                        </button>
                      </nz-space>
                    }
                  </nz-space>
                </nz-space>

                <nz-space
                  *nzSpaceItem
                  nzDirection="vertical"
                  nzAlign="center"
                  nzSize="small"
                >
                  <h2 *nzSpaceItem nz-typography class="!m-0">Análise</h2>
                  <nz-space *nzSpaceItem nzSize="small">
                    @for (
                      voteValueQuantity of voteValueQuantities;
                      track voteValueQuantity.value
                    ) {
                      <nz-space
                        *nzSpaceItem
                        nzDirection="vertical"
                        nzAlign="center"
                        [nzSize]="0"
                      >
                        <span
                          *nzSpaceItem
                          nz-typography
                          class="w-10 text-center"
                        >
                          {{ voteValueQuantity.quantity }}
                          @if (voteValueQuantity.quantity === 1) {
                            voto
                          }

                          @if (
                            voteValueQuantity.quantity < 1 ||
                            voteValueQuantity.quantity > 1
                          ) {
                            votos
                          }
                        </span>
                        <button
                          *nzSpaceItem
                          nz-button
                          class="overflow-hidden !p-0 !w-10 !h-16 !cursor-default"
                          nzSize="large"
                          nzType="primary"
                        >
                          {{ voteValueQuantity.value }}
                        </button>
                      </nz-space>
                    }
                  </nz-space>
                </nz-space>

                <nz-space *nzSpaceItem nzSize="large">
                  <nz-space
                    *nzSpaceItem
                    nzSize="small"
                    nzAlign="center"
                    nzDirection="vertical"
                    [nzSize]="0"
                    nz-tooltip
                    nzTooltipPlacement="bottom"
                    nzTooltipTitle="soma da pontuação"
                  >
                    <h2 *nzSpaceItem nz-typography class="!m-0">Total</h2>
                    <h2 *nzSpaceItem nz-typography class="!m-0">
                      {{ votesEstimationTotal }}
                    </h2>
                  </nz-space>

                  <nz-space
                    *nzSpaceItem
                    nzSize="small"
                    nzAlign="center"
                    nzDirection="vertical"
                    [nzSize]="0"
                    nz-tooltip
                    nzTooltipPlacement="bottom"
                    nzTooltipTitle="soma da pontuação divido por quantidade de votos"
                  >
                    <h2 *nzSpaceItem nz-typography class="!m-0">Média</h2>
                    <h2 *nzSpaceItem nz-typography class="!m-0">
                      {{ votesEstimationAverage }}
                    </h2>
                  </nz-space>
                </nz-space>

                <button
                  *nzSpaceItem
                  nz-button
                  nzType="primary"
                  (click)="handleStartNewVoting()"
                >
                  Iniciar nova votação
                </button>
              </nz-space>
            }
          </nz-space>
        </nz-card>
      </div>
    </nz-content>

    <nz-divider nzType="vertical" class="h-full m-0"></nz-divider>

    <!-- content right side -->
    <nz-sider [nzWidth]="300" class="overflow-x-hidden overflow-y-auto">
      <nz-space nzDirection="vertical" class="p-3 w-full" nzSize="small">
        <div *nzSpaceItem>
          <h4>Tarefas</h4>
          <nz-space [nzSplit]="spaceSplit">
            <ng-template #spaceSplit>•</ng-template>

            <span *nzSpaceItem>
              {{ tasks.length }}

              @if (tasks.length === 1) {
                tarefa
              }

              @if (tasks.length < 1 || tasks.length > 1) {
                tarefas
              }
            </span>
            <span *nzSpaceItem>
              {{ taskEstimationTotal }}

              @if (taskEstimationTotal === 1) {
                ponto
              }

              @if (taskEstimationTotal < 1 || taskEstimationTotal > 1) {
                pontos
              }
            </span>
          </nz-space>
        </div>

        <div *nzSpaceItem>
          <!-- add another task button -->
          @if (!toggleAddAnotherTask) {
            <button
              nz-button
              nzType="link"
              class="!p-0"
              (click)="handleToggleAddAnotherTask()"
            >
              <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
              Adicionar outra tarefa
            </button>
          }

          <!-- add another task form -->
          @if (toggleAddAnotherTask) {
            <form nz-form nzLayout="vertical" [formGroup]="validateForm">
              <nz-form-item>
                <nz-form-label nzRequired nzLabelWrap>Título</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="title" class="w-full" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzLabelWrap>Link</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="link" class="w-full" />
                </nz-form-control>
              </nz-form-item>
              <nz-space nzSize="large">
                <button
                  *nzSpaceItem
                  nz-button
                  nzType="link"
                  nzDanger
                  class="!p-0"
                  (click)="handleToggleAddAnotherTask()"
                >
                  Fechar
                </button>
                <button
                  *nzSpaceItem
                  nz-button
                  nzType="link"
                  class="!p-0"
                  (click)="handleSaveAnotherTask()"
                >
                  Salvar
                </button>
              </nz-space>
            </form>
          }
        </div>

        <!-- tasks -->
        <div *nzSpaceItem>
          <nz-space nzDirection="vertical" class="w-full">
            @for (task of tasks; track task.id) {
              <nz-card
                *nzSpaceItem
                nzHoverable
                [nzTitle]="title"
                [nzExtra]="extra"
                class="cursor-default"
              >
                <ng-template #title>
                  <p
                    nz-typography
                    nzEditable
                    nzEditTooltip="alterar título"
                    nzEllipsis
                    [nzContent]="task.title"
                    (nzContentChange)="handleTaskTitleChange(task.id, $event)"
                    class="w-44"
                  ></p>
                </ng-template>
                <ng-template #extra>
                  <button
                    nz-button
                    nzType="link"
                    class="!p-0"
                    nzDanger
                    (click)="handleDeleteTask(task.id)"
                    nz-tooltip
                    nzTooltipTitle="apagar tarefa"
                  >
                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                  </button>
                </ng-template>

                <nz-space nzDirection="vertical" class="w-full" nzSize="middle">
                  <nz-space *nzSpaceItem nzSize="small">
                    @if (task.voted) {
                      <nz-tag *nzSpaceItem nzColor="green" class="m-0">
                        {{ task.estimation }}

                        @if (task.estimation === 1) {
                          ponto
                        }

                        @if (task.estimation < 1 || task.estimation > 1) {
                          pontos
                        }
                      </nz-tag>
                    }

                    <span
                      *nzSpaceItem
                      nz-typography
                      nzEditable
                      [nzEditIcon]="taskEstimationEditIcon"
                      nzEditTooltip="alterar pontuação"
                      class="w-full"
                      (nzContentChange)="
                        handleTaskEstimationChange(task.id, $event)
                      "
                    >
                      <ng-template #taskEstimationEditIcon>
                        @if (task.voted) {
                          <span nz-icon nzType="edit" nzTheme="outline"></span>
                        }

                        @if (!task.voted) {
                          <span
                            nz-icon
                            nzType="plus-circle"
                            nzTheme="outline"
                          ></span>
                          Adicionar pontuação
                        }
                      </ng-template>
                    </span>
                  </nz-space>

                  <span
                    *nzSpaceItem
                    nz-typography
                    nzEllipsis
                    nzEditable
                    [nzEditIcon]="taskLinkEditIcon"
                    [nzEditTooltip]="task.link ? 'alterar link' : null"
                    [(nzContent)]="task.link"
                    class="w-full"
                    (nzContentChange)="handleTaskLinkChange(task.id, $event)"
                  >
                    <ng-template #taskLinkEditIcon>
                      @if (task.link) {
                        <span nz-icon nzType="edit" nzTheme="outline"></span>
                      }

                      @if (!task.link) {
                        <span
                          nz-icon
                          nzType="plus-circle"
                          nzTheme="outline"
                        ></span>
                        Adicionar link
                      }
                    </ng-template>
                  </span>

                  <nz-space *nzSpaceItem>
                    <button
                      *nzSpaceItem
                      nz-button
                      [nzType]="
                        selectedTask?.id === task.id ? 'primary' : 'default'
                      "
                      (click)="handleSelectedTask(task)"
                    >
                      @if (selectedTask?.id === task.id) {
                        Votando agora
                      }

                      @if (selectedTask?.id !== task.id && !task.voted) {
                        Votar nesta
                      }

                      @if (selectedTask?.id !== task.id && task.voted) {
                        Votar novamente
                      }
                    </button>

                    @if (task.link) {
                      <a
                        *nzSpaceItem
                        nz-button
                        nzType="link"
                        class="!p-0"
                        [href]="task.link"
                        target="_blank"
                      >
                        <span nz-icon nzType="link" nzTheme="outline"></span>
                        Abrir link
                      </a>
                    }
                  </nz-space>
                </nz-space>
              </nz-card>
            }
          </nz-space>
        </div>
      </nz-space>
    </nz-sider>
  </nz-layout>

  <nz-divider class="m-0"></nz-divider>

  <!-- page footer -->
  @if (role === 'player') {
    <nz-footer nz-flex nzJustify="center" nzGap="large">
      @for (card of cards; track card.id) {
        <button
          nz-button
          class="overflow-hidden !p-0 !w-10 !h-16"
          nzSize="large"
          [nzType]="currentVote?.cardId === card.id ? 'primary' : 'dashed'"
          (click)="handleVote(card)"
          nz-tooltip
          [nzTooltipTitle]="card.tip"
          [nzTooltipTrigger]="card.tip !== null ? 'hover' : null"
        >
          @if (!card.icon) {
            {{ card.value }}
          }

          @if (card.icon) {
            <span nz-icon [nzType]="card.icon" nzTheme="outline"></span>
          }
        </button>
      }
    </nz-footer>
  }
</nz-layout>
