<nz-layout>
  <!-- header -->
  <nz-header>
    <div class="logo"></div>
  </nz-header>

  <!-- center -->
  <nz-content>
    <nz-layout class="inner-layout">
      <!-- left side -->
      <nz-sider nzWidth="200px" nzTheme="light">
        <div>spectates</div>
        <div>players</div>
      </nz-sider>
      <nz-content class="inner-content">Content</nz-content>
      <!-- right side -->
      <nz-sider nzWidth="200px" nzTheme="light"> tasks </nz-sider>
    </nz-layout>
  </nz-content>

  <!-- footer -->
  <nz-footer>Footer</nz-footer>
</nz-layout>
