<nz-layout>
  <!-- page header -->
  <nz-header nzTheme="light" nz-flex nzJustify="space-between" nzAlign="center">
    <h2 nz-typography class="!m-0">
      <span nz-icon nzType="fast-forward" nzTheme="outline"></span>
      Scrum Poker
    </h2>
    <div nz-flex nzGap="large">
      <div>
        <p class="!m-0" nz-typography nzCopyable nzCopyText="Link do convite">
          Copiar link do convite
        </p>
      </div>
      <div nz-flex nzAlign="center" nzGap="small">
        <nz-avatar nzText="D"></nz-avatar>
        Douglas
      </div>
    </div>
  </nz-header>

  <nz-divider class="m-0"></nz-divider>

  <!-- page content -->
  <nz-content>
    <nz-layout>
      <!-- content header -->
      <nz-header
        nzTheme="light"
        nz-flex
        nzJustify="space-between"
        nzAlign="center"
      >
        <h2 nz-typography class="!m-0">Minha mesa</h2>
        <div nz-flex nzJustify="center" nzGap="small">
          <div><span nz-typography class="h-0">00:00</span></div>
          <div nz-flex nzAlign="center">
            <button nz-button nzType="link">
              <span nz-icon nzType="play-circle" nzTheme="outline"></span>
              Iniciar
            </button>
            <button nz-button nzType="link">
              <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
              Adicionar 1 minuto
            </button>
            <button nz-button nzType="text">
              <span nz-icon nzType="redo" nzTheme="outline"></span>
              Reiniciar
            </button>
            <button nz-button nzType="text" nzDanger>
              <span nz-icon nzType="close-circle" nzTheme="outline"></span>
              Parar
            </button>
          </div>
        </div>
      </nz-header>

      <nz-divider class="m-0"></nz-divider>

      <nz-layout class="mt-3">
        <!-- content left side -->
        <nz-sider>
          <div class="pl-5">
            <div>
              <h5>Sentados</h5>
            </div>
            <ul nz-list [nzDataSource]="players">
              @for (spectator of players; track spectator) {
              <li nz-list-item nzNoFlex>
                <nz-avatar nzIcon="user"></nz-avatar>
                {{ spectator }}
              </li>
              }
            </ul>

            <h5>Assistindo</h5>
            <ul nz-list [nzDataSource]="spectators">
              @for (spectator of spectators; track spectator) {
              <li nz-list-item nzNoFlex>
                <nz-avatar nzIcon="user"></nz-avatar>
                {{ spectator }}
              </li>
              }
            </ul>
          </div>
        </nz-sider>

        <!-- content center -->
        <nz-content>Content</nz-content>

        <!-- content right side -->
        <nz-sider>tasks</nz-sider>
      </nz-layout>
    </nz-layout>
  </nz-content>

  <nz-divider class="m-0"></nz-divider>

  <!-- page footer -->
  <nz-footer nz-flex nzJustify="center" nzGap="large">
    @for (card of cards; track card) {
    <button
      class="overflow-hidden !p-0 !w-10 !h-16"
      nz-button
      nzSize="large"
      nzType="default"
    >
      {{ card }}
    </button>
    }

    <button
      class="overflow-hidden !p-0 !w-10 !h-16"
      nz-button
      nzType="default"
      nzSize="large"
    >
      <span nz-icon nzType="question" nzTheme="outline"></span>
    </button>

    <button
      class="overflow-hidden !p-0 !w-10 !h-16"
      nz-button
      nzType="default"
      nzSize="large"
    >
      <span nz-icon nzType="coffee" nzTheme="outline"></span>
    </button>
  </nz-footer>
</nz-layout>
