@tailwind utilities;

@import "ng-zorro-antd/style/default.less";
@import "ng-zorro-antd/button/style/entry.less";
@import "ng-zorro-antd/layout/style/entry.less";
@import "ng-zorro-antd/typography/style/entry.less";
@import "ng-zorro-antd/icon/style/entry.less";

@layout-header-background: #fff;
@layout-body-background: #fff;

nz-water-mark,
nz-layout {
  height: 100%;
  margin: 0;
  padding: 0;
}

.ant-statistic-title {
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 10px;
  border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666666;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

nz-text-edit {
  display: inline-flex;
  align-items: center;
}
